name: Node.js CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: echo "No tests yet, skipping"

      - name: Start server
        run: node index.js &
        env:
          PORT: ${{ secrets.PORT }}
          
      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.0    
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_Key }} 
          script: |
            cd /home/ec2-user/Learning_GithubAction
            git pull 
            docker compose up -d --build
            echo "Deploying application..."